<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p> Your DAC has been created: </p>
    <p> DAC ID: {{ dac }} </p>
    <p> Datasets ID: {{ dataset }} </p>
    <p> Please, go to the Data Access Committe portal in order to manage requests.</p>
    <a href="https://dac.ipc-project.bsc.es"> Go to the DAC portal </a>
</body>
</html>